.card_wrapper {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    display: none;
    width: 37%;
    height: 25%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #dad7cd;
    box-shadow: 5px 3px 15px #eff70d;
    z-index: 3;
}

.avatar {
    height: calc(80%);
    width: auto;
    border-radius: 20px;
    transition: transform 5s ease-in-out;
}

.avatar:hover {
    animation: spin 5s ease-in-out;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(5400deg);
    }
}

[id^='child'] {
    margin: 15px;    
}


/* Adaptive design */
@media (max-width: 1024px) {
    .avatar {
        margin-top: 10%;
        height: calc(30%);
    }
    
    .card_wrapper {
        /*position: relative;*/
        top: 100%;
        left: 0;
        padding-top: 35%;
    }

    .card {
        position: absolute;
        flex-direction: column;
        align-items: center;
        align-items: center;
        height: 50%;
        width: 80%;

        /*bottom: 10%;*/
    }

    [id^='child'] {
        margin: 0;
    }
}