.text_moving {
    width: 40%;
    display: inline-block; /* To make the animation work correctly */
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: slide 9s linear infinite, colorShift 3s linear infinite; /* Duration and type of animation */
}

@keyframes slide {
    0% {
        transform: translateX(-100%); /* Starting on the left */
    }
    25% {
        transform: rotate(-45deg); /* Turns -45 degrees */
    }
    30% {
        transform: rotate(45deg); /* Rotates 45 degrees */
    }
    35% {
        transform: rotate(0); /* Returns to home position */
    }
    40% {
        transform: translateX(0); /* Stops in the centre */
    }
    50% {
        transform: translateX(75%); /* Goes to the right */
    }
    70% {
        transform: translateX(0); /* Stops in the centre */
    }
    65% {
        transform: rotate(45deg); /* Rotates 45 degrees */
    }
    70% {
        transform: rotate(-45deg); /* Turns -45 degrees */
    }
    75% {
        transform: rotate(0); /* Returns to home position */
    }
    100% {
        transform: translateX(-100%); /* Goes back to the left */
    }
}

/* Color animation */
@keyframes colorShift {
    0% { color: rgb(13, 230, 13); }
    16.66% { color: rgba(247, 11, 223, 0.975); }
    33.33% { color: #fde12d; }
    50% { color: rgb(13, 230, 13); }
    66.66% { color: rgba(247, 11, 223, 0.975); }
    83.33% { color: #fde12d; }
    100% { color: rgb(13, 230, 13); }
}

/* Adaptive design */
@media (max-width: 1024px) {
    .text_moving {
        width: 100%;
        display: inline-block; /* To make the animation work correctly */
        overflow: hidden; /* Hide overflowing text */
        white-space: nowrap; /* Prevent text from wrapping */
        animation: colorShift 3s linear infinite; /* Duration and type of animation */
    }    
}
