.text_moving {
    width: 50%;
    display: inline-block; /* To make the animation work correctly */
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: slide 10s linear infinite, colorShift 5s linear infinite; /* Duration and type of animation */
}

@keyframes slide {
    0% {
        transform: translateX(-100%); /* Starting on the left */
    }
    25% {
        transform: rotate(-45deg); /* Turns -45 degrees */
    }
    30% {
        transform: rotate(45deg); /* Rotates 45 degrees */
    }
    35% {
        transform: rotate(0); /* Returns to home position */
    }
    40% {
        transform: translateX(0); /* Stops in the centre */
    }
    50% {
        transform: translateX(100%); /* Goes to the right */
    }
    70% {
        transform: translateX(0); /* Stops in the centre */
    }
    65% {
        transform: rotate(45deg); /* Rotates 45 degrees */
    }
    70% {
        transform: rotate(-45deg); /* Turns -45 degrees */
    }
    75% {
        transform: rotate(0); /* Returns to home position */
    }
    100% {
        transform: translateX(-100%); /* Goes back to the left */
    }
}

/* Color animation */
@keyframes colorShift {
    0% { color: #9B2C30; }
    16.66% { color: #432818; }
    33.33% { color: #fde12d; }
    50% { color: #9B2C30; }
    66.66% { color: #432818; }
    83.33% { color: #fde12d; }
    100% { color: #9B2C30; }
}

